<html xmlns:thymeleaf="http://wwww.thymeleaf.org">
<head>
<title>Starter</title>
<div th:replace="fragments/head-common :: head-common">The Static Head Common</div>

</head>
<body>
	<header
		th:replace="fragments/header :: header">
		The Static Header</header>
	<div class="content container">

		<h1>This is a Spring Boot Starter Application</h1>
		<a href="/cities">List of all Cities</a>
		<a href="/citiesPage">List of Cities (Paginated)</a>

	</div>
	<footer
		th:replace="fragments/footer :: footer">
		The Static Footer</footer>
</body>
</html>