<html xmlns:thymeleaf="http://wwww.thymeleaf.org">
<head>
<title>Cities</title>
<div th:replace="fragments/head-common :: head-common">The Static Head Common</div>
</head>
<body>
	<header th:replace="fragments/header :: header"> The Static
		Header</header>
	<div class="content container">

		<h1>Show Cities</h1>
		<p>
			Showing <span th:text="${citiesCount}">0</span> cities
		</p>
		<table class="table table-striped table-hover">
			<tr>
				<th>ID</th>
				<th>City</th>
				<th>Country Code</th>
				<th>District</th>
				<th>Population</th>
			</tr>
			<tr th:each="city : ${cities}">
				<td th:text="${city.id}">1</td>
				<td th:text="${city.name}">s</td>
				<td th:text="${city.country}">ssd</td>
				<td th:text="${city.district}">sdf</td>
				<td th:text="${city.population}">324</td>
			</tr>
		</table>

	</div>
	<footer th:replace="fragments/footer :: footer"> &copy; 2014
		The Static Templates</footer>
</body>
</html>